<div class="page">
  <div class="container-1">
    <h1>Profile</h1>
    <div>
      <div><strong>Username:</strong><br><%= @user.username %></div><br>
      <div><strong>Email:</strong><br><%= @user.email %></div><br><br>
      <div><%= link_to "edit profile", edit_user_registration_path %></div>
    </div>
  </div>
    <div class="container-2">
      <div class="past-events">
        <h3>Previously Attended Events</h3>
        <ul class="events">
          <% @user.attended_events.each do |event| %>
            <% if event.date.before?(Time.now) %>
              <li><%= link_to event.title, event  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="future-events">
        <h3>Future Attending Events</h3>
        <ul class="events">
          <% @user.attended_events.each do |event| %>
            <% if event.date.after?(Time.now) %>
              <li><%= link_to event.title, event  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
   </div>
</div>


            




