<h1><%= @event.title %></h1>
<p><%= @event.location %></p>
<p><%= @event.body %></p>
<p><%= @event.date %></p><br><br>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %><br>
<% end %>

<% if current_user.attended_events.include?(@event)%>
  <div class="button"><%= button_to "Cancel Invite", invitation_path(id: @event.id), method: :delete %>
<% else %>
  <div class="button"><%= button_to "Attend Event", invitations_path(id: @event.id), method: :post %>
<% end %>


