<div class="body">
  <div class="container">
    <div class="index-title"><h1>Upcoming Events</h1></div>
    <div class="f-events">
      <% Event.future.each do |event| %>
        <div class="card">
          <div class="card-title"><h3><%= event.title %></h3></div>
          <div class="card-body"><%= event.body %></div> 
          <div class="card-date"><strong>Date: </strong><%= event.date.strftime("%m/%d/%Y") %></div>
          <div class="card-location"><strong>Location: </strong><%= event.location %></div>
          <div class="event-link"><%= link_to "See this event", event %></div>
        </div>
      <% end %>
    </div>
    <div class="index-title"><h1>Past Events</h1></div>
    <div class="p-events">
      <% Event.past.each do |event| %>        
        <div class="card">
          <div class="card-title"><h3><%= event.title %></h3></div>
          <div class="card-body"><%= event.body %></div> 
          <div class="card-date"><strong>Date: </strong><%= event.date.strftime("%m/%d/%Y") %></div>
          <div class="card-location"><strong>Location: </strong><%= event.location %></div>
          <div class="event-link"><%= link_to "See this event", event %></div>
        </div>        
      <% end %>
    </div>
    <!--<p class="notice"><%# notice %></p>
    <p class="alert"><%# alert %></p>-->
  </div>
</div>
<div class="footer">
</div>
