<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="header">
      <div class="left-links">
        <div class="home-link">
          <%= link_to "Home", root_path %>
        </div>
        <% if user_signed_in? %>
          <div class="create-event">
            <%= link_to "Create Event", new_event_path %>
          </div>
        <% else %>
          <div class="sign-in-req">
            Please Sign in
          </div> 
        <% end %>  
      </div>
      <div class="site-title">Private Events</div>
      <div class="user-links"><%= render "pages/login_links" %></div>
    </div>
    <%= yield %>
  </body>
</html>
